{% extends "base.html" %}

{% block content %}
<br>
<div>
    <form method="POST" action="" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {{form.provider.label}}:&nbsp{{form.provider}} &nbsp {{form.category.label}}:&nbsp{{form.category}} &nbsp 
        {{form.subCategory.label}}:&nbsp{{form.subCategory}} <br><br>
        {{form.image.label}}&nbsp{{form.image}} {{form.submit()}}
    </form>
    
</div>
<br>
<h4>Below are latest uploaded sarees</h4>
<br>
<div class="row row-cols-2 row-cols-md-5 g-4">
    
    {% for saree in sarees %}
    <div class="col">
      <div class="card">
        <img src="data:;base64,{{decode_image(saree.image)}}", width="200", height="300">
        <!--<img src="{{decode_image(saree.image)}}">-->
        <!--<img src="data:;base64,{{decode_image(saree.image)}}">-->
        <div class="card-body">
          <h5 class="card-title">{{saree.category.upper()}} {{saree.subCategory.upper()}}</h5>
          </div>
      </div>
    </div>
    {% endfor %}
</div>


<!--<div>
    <br>
    <h4><b>Uploaded Sarees</b></h4>
    <ol>
        {% for saree in sarees %}
        <li><b>Provider</b> : {{saree.provider.upper()}}  <b>Category</b>: {{saree.category.upper()}} 
            <b>SubCategory</b>: {{saree.subCategory.upper()}} <b>Image Name</b>: {{saree.img_name}} <br>
            <img src="data:;base64,{{decode_image(saree.image)}}">
        </li>

        {% endfor %}
</div>-->

{% endblock %}